nav {
    padding: 20px;
    margin-bottom:10px;
    text-align: center;
    background-color: rgb(84, 208, 212);
}

.countries-list {
    text-align:center;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.country-card {
    width: 20%;
    padding: 10px;
}

.country-card > h2 {
    font-size:16px;
}

.country-details {
    width: 50%;
    margin: 0 auto;
}

.back-link {
    font-size:30px;
}